{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'todo/css/user_auth.css' %}">
{% endblock %}


{% block content %}

<div class="container">
    <div class="header">
        <h2>Password reset sent</h2>
    </div>
     <div class="form-text">
     <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
     </div>
 </div>
{% endblock %}

