{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'todo/css/user_auth.css' %}">
{% endblock %}


{% block content %}

<div class="container">
    <div class="header">
        <h2>Password reset complete</h2>
    </div>
     <div class="form-text">
      Your password has been set. You may go ahead and log in now.
     </div>
        <div class="form-text">
            <a href="{% url 'login' %}" class="btn">Login</a>
        </div>

 </div>

    <style>
 .btn {
    display: inline-block;
    background: #C0C0C0;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
   }
  </style>
{% endblock %}
