{% extends 'base.html' %}



{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'todo/css/user_auth.css' %}">
{% endblock %}


{% block content %}

<div class="container">
    <div class="header">
        <h2>Reset password</h2>
    </div>
    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center">
                            <div id="error_div"></div>
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <div class="form-control">
                            <form class="form" id="form" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                      <label class="small mb-1" for="id_email">Email</label>
                                        <input type="email" name="email"  class="form-control"
                                               autocomplete="email" maxlength="254" required id="id_email"
                                               placeholder="Enter email">
                                    </div>
                                </div>
                            </div>
                                <div class="form-row">
                                  <div class="col-md-10 offset-md-1">
                                    <div class="form-group mt-0 mb-1">
                                        <button type="submit" class="col-md-12 btn btn-dark">Submit
                                        </button>
                                    </div>
                                 </div>
                               </div>
                            </form>
                        </div>
                    </div>
</div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        let errors = {{ errors|safe }};
    </script>

    <script type="text/javascript" src="{% static 'todo/js/user_auth.js' %}"></script>
    <script type="text/javascript" src="{% static 'todo/js/login.js' %}"></script>
{% endblock %}
