{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'todo/css/user_auth.css' %}">
{% endblock %}


{% block content %}

<div class="container">
    <div class="header">
        <h2>Password Reset Confirm</h2>
    </div>
    <div class="col-lg-5">
                    {% if validlink %}
                        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                            {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form_errors">
                                        {% for key, value in form.errors.items %}
                                            <strong>{{ value }}</strong>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            <div class="card-body">
                                <form class="form" method="POST">
                                    {% csrf_token %}
                                            <div class="form-control">
                                                <label for="id_new_password1">New Password</label>
                                                <input type="password" name="new_password1" autocomplete="new-password"
                                                       required id="id_new_password1"
                                                       placeholder="Enter password"/>
                                    </div>
                                            <div class="form-control">
                                                <label for="id_new_password2">New Password Confirmation</label>
                                                <input type="password" name="new_password2" autocomplete="new-password"
                                                       required id="id_new_password2"
                                                       placeholder="Confirm password"/>
                                            </div>
                                                <button type="submit">Reset Password
                                                </button>
                                </form>
                            </div>
                        </div>
                    {% else %}
                    <div class="alert alert-warning">
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </div>
                    {% endif %}
                </div>
</div>

{% endblock %}



